body {
  background: #fa64b4;
background: linear-gradient(90deg,rgba(250, 100, 180, 1) 0%, rgba(156, 226, 247, 1) 50%, rgba(131, 66, 252, 1) 100%);
}
h1 {
  color: blue;
  font-size: 65px;
}
p {
  color: black;
  font-size: 30px;
}
